{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ImperioShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'shop/img/imgAlan/favicon 32x32.png' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="{% static 'shop/lib/css/nivo-slider.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'shop/css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'shop/css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'shop/css/responsive.css' %}">
    <!-- Template color css -->
    <link href="{% static 'shop/css/color/color-core.css' %}" data-style="styles" rel="stylesheet">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'shop/css/custom.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'shop/css/propio.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'shop/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">

        <header class="header-area header-wrapper">
            {% include "shop/header.html" %}  
            <!-- header-middle-area -->
            <div id="sticky-header" class="header-middle-area plr-185">
                <div class="container-fluid">
                    <div class="full-width-mega-dropdown">
                        <div class="row">
                            <!-- logo -->
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="logo">
                                    <a href="/">
                                        <img width="120" style="margin-top: 7px;"src="{% static 'shop/img/imgAlan/full-logo-header.png' %}" alt="main logo">
                                    </a>
                                </div>
                            </div>
                            <!-- primary-menu -->
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li>
                                            <a class="linkMenu" href="/shop">HOME</a>
                                        </li>
                                        <li>
                                            <a class="linkMenu" href="/shop/shop">PRODUCTOS</a>
                                            <ul class="dropdwn">
                                                {% for cat in categorias %}
                                                <li><a class="linkSubMenu" href="/shop/shop?categoria_id={{ cat.id }}">{{ cat.nombre }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="linkMenu" href="/shop#contactate">NOSOTROS</a>
                                        </li>
                                        <li>
                                            <a class="linkMenu" href="/shop#contactate">CONTACTO</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- header-search & total-cart -->
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="search-top-cart  f-right">
                                    <!-- total-cart -->
                                    <div class="total-cart f-left" id="changuito">
                                        {% include "shop/cart.html" with chango=chango changuito=changuito %}  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- START MOBILE MENU AREA -->
        <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Productos</a></li>
                                    <li><a href="#">Nosotros</a></li>
                                    <li><a href="blog.html">Contactate</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOBILE MENU AREA -->

        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section plr-200 mb-80">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title"></h1>
                                <ul class="">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <div id="page-content" class="page-wrapper">

            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <ul class="cart-tab">
                                <li id="li-cart">
                                    <a class="active" href="#shopping-cart" data-toggle="tab">
                                        <span>01</span>
                                        Carretilla
                                    </a>
                                </li>
                                <li id="li-checkout" style="display: none;">
                                    <a id="tab-checkout" href="#checkout" data-toggle="tab">
                                        <span>02</span>
                                        Pagar
                                    </a>
                                </li>
                                <li id="li-complete" style="display: none;">
                                    <a href="#order-complete" data-toggle="tab">
                                        <span>03</span>
                                        Fin
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <!-- Tab panes -->
                            <div class="tab-content" id="d" >
                                <!-- shopping-cart start -->
                                <div class="tab-pane active" id="shopping-cart">
                                    <div class="shopping-cart-content">
                                        <form action="#" id="formPasoDos">
                                            <div class="table-content table-responsive mb-50"  >
                                                <table class="text-center">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-thumbnail">Producto</th>
                                                            <th class="product-price">Precio</th>
                                                            <th class="product-quantity">Cantidad</th>
                                                            <th class="product-subtotal">Total</th>
                                                            <th class="product-remove">Quitar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- tr -->
                                                        {% for prod in chango %}

                                                        <tr>
                                                            <td class="product-thumbnail">
                                                                <div class="pro-thumbnail-img">
                                                                    <img style="width: 75px;" src="{{ prod.dameFotoChango }}" alt="{{ prod.nombre }}">
                                                                </div>
                                                                <div class="pro-thumbnail-info text-left">
                                                                    <h6 class="product-title-2">
                                                                        <a href="#">{{ prod.nombre }}</a>
                                                                    </h6>
                                                                </div>
                                                            </td>
                                                            <td class="product-price">${{ prod.getPrecioWeb }}</td>
                                                            <!--td class="product-quantity">
                                                                <div class="cart-plus-minus f-left">
                                                                    <input type="text" value="{{ changuito|get_item:prod.id }}" name="qtybutton" class="cart-plus-minus-box">
                                                                </div> 
                                                            </td-->
                                                            <td class="product-quantity">
                                                                <input type="text" maxlength="4" disabled style="font-size: 21px; width: 45px;margin-bottom: 0px;padding-left: 0px;" value="{{ changuito|get_item:prod.id }}" name="qtybutton{{ prod.id }}">
                                                            </td>
                                                            {% with cantidad=changuito|get_item_aux:prod.id %}  
                                                            <td class="product-subtotal">${{ prod.getPrecioWeb|multiply:cantidad }}</td>
                                                            {% endwith %}
                                                            <td class="product-remove" onclick="carretillaLessProductCart({{ prod.id }});">
                                                                <a href="#"><i class="zmdi zmdi-close"></i></a>
                                                            </td>
                                                        </tr>

                                                        {% endfor %}



                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <!--div class="col-md-6">
                                                    <div class="coupon-discount box-shadow p-30 mb-50">
                                                        <h6 class="widget-title border-left mb-20">coupon discount</h6>
                                                        <p>Enter your coupon code if you have one!</p>
                                                        <input type="text" name="name" placeholder="Enter your code here.">
                                                        <button class="submit-btn-1 black-bg btn-hover-2" type="submit">apply coupon</button>
                                                    </div>
                                                </div
                                                precio distribucion sacar
                                                numero de cliente autonumerado
                                                reporte deuda clientes y proveedores-->
                                                <div class="col-md-6">
                                                    <h6 class="widget-title border-left mb-20">Datos personales</h6>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label for="numeroSocio">Numero Socio (*SOLO SI TENES)</label>
                                                            <input type="text" maxlength="5" name="numeroSocio" id="numeroSocio" onchange="validarNumeroSocio();">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="contacto">Nombre y Apellido(*)</label>
                                                            <input type="text" name="contacto" id="contacto" >
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label for="Mail">Mail(*)</label>
                                                            <input type="text" name="mail" id="mail" >
                                                        </div>
                                                        <!--div class="col-md-6">
                                                            <label for="numeroSocio">Numero Socio</label>
                                                            <input type="text" name="numeroSocio" id="numeroSocio">
                                                        </div-->
                                                        <div class="col-md-6">
                                                            <label for="telefono">Telefono (*)</label>
                                                            <input type="text" name="telefono" id="telefono" >
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="domicilio">Domicilio</label>
                                                            <input type="text" name="domicilio" id="domicilio">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="comentarios">Comentarios</label>
                                                            <textarea class="custom-textarea" name="comentarios" id="comentarios"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="comentarios">(*) ESTOS CAMPOS SON OBLIGATORIOS.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="payment-details box-shadow p-30 mb-50">
                                                        <h6 class="widget-title border-left mb-20">Detalle del pago</h6>
                                                        <table>
                                                            <tr>
                                                                <td class="td-title-1">Carretilla SubTotal</td>
                                                                <td class="td-title-2">${{ totalProd }}</td>
                                                            </tr>
                                                            <!--tr>
                                                                <td class="td-title-1">Pago Con Tarjeta (11%)</td>
                                                                <td class="td-title-2">${{ adicTarjeta }}</td>
                                                            </tr-->
                                                            <tr>
                                                                <td class="order-total">Total</td>
                                                                <td class="order-total-price">${{ totalProd }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <button onclick="crearVenta();" class="submit-btn-1 btn-hover-1" style="width: 200px; height: 60px; " type="button">FINALIZAR COMPRA</button>
                                                </div>
                                            </div>
                                            <!--div class="row">
                                                <div class="col-md-12">
                                                    <div class="culculate-shipping box-shadow p-30">
                                                        <h6 class="widget-title border-left mb-20">culculate shipping</h6>
                                                        <p>Enter your coupon code if you have one!</p>
                                                        <div class="row">
                                                            <div class="col-sm-4 col-xs-12">
                                                                <input type="text"  placeholder="Country">
                                                            </div>
                                                            <div class="col-sm-4 col-xs-12">
                                                                <input type="text"  placeholder="Region / State">
                                                            </div>
                                                            <div class="col-sm-4 col-xs-12">
                                                                <input type="text"  placeholder="Post code">
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button class="submit-btn-1 black-bg btn-hover-2">get a quote</button>   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div-->
                                        </form>
                                    </div>
                                </div>
                                <!-- shopping-cart end -->
                                <!-- checkout start -->
                                <div class="tab-pane" id="checkout">
                                    <div class="checkout-content box-shadow p-30">
                                        <form action="#" >
                                            <div class="row">
                                                <!-- billing details -->
                                                
                                                
                                                <div class="col-md-6">
                                                    <!-- our order -->
                                                    <div class="payment-details pl-10 mb-50">
                                                        <h6 class="widget-title border-left mb-20">Tu pedido</h6>
                                                        <table>
                                                            {% for prod in chango %}
                                                                <tr>
                                                                    <td class="td-title-1">{{ prod.nombre }} x {{ changuito|get_item:prod.id }}</td>
                                                                    <td class="td-title-2">${{ prod.getPrecioWeb }}</td>
                                                                </tr
                                                            {% endfor %}
                                                            <tr>
                                                                <td class="order-total">TOTAL</td>
                                                                <td class="order-total-price"> ${{ totalProd }} </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">{{botonMP|safe}}</div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- checkout end -->
                                <!-- order-complete start -->
                                <div class="tab-pane" id="order-complete">
                                    <div class="order-complete-content box-shadow">
                                        <div class="thank-you p-30 text-center">
                                            <h6 class="text-black-5 mb-0">GRACIAS POR TU COMPRA! YA RECIBIMOS TU PEDIDO.</h6>
                                        </div>
                                        <div class="order-info p-30 mb-10">
                                            <ul class="order-info-list">
                                                <li>
                                                    <h6>order no</h6>
                                                    <p>m 2653257</p>
                                                </li>
                                                <li>
                                                    <h6>order no</h6>
                                                    <p>m 2653257</p>
                                                </li>
                                                <li>
                                                    <h6>order no</h6>
                                                    <p>m 2653257</p>
                                                </li>
                                                <li>
                                                    <h6>order no</h6>
                                                    <p>m 2653257</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <!-- our order -->
                                            <div class="col-md-6">
                                                <div class="payment-details p-30">
                                                    <h6 class="widget-title border-left mb-20">Tu pedido</h6>
                                                    <table>
                                                        {% for prod in chango %}
                                                            <tr>
                                                                <td class="td-title-1">{{ prod.nombre }} x {{ changuito|get_item:prod.id }}</td>
                                                                <td class="td-title-2">${{ prod.getPrecioWeb }}</td>
                                                            </tr
                                                        {% endfor %}
                                                        <tr>
                                                            <td class="order-total">Order Total</td>
                                                            <td class="order-total-price">${{ totalProd }}</td>
                                                        </tr>
                                                    </table>
                                                </div>         
                                            </div>
                                            <div class="col-md-6">
                                                <div class="bill-details p-30">
                                                    <h6 class="widget-title border-left mb-20">DETALLES FACTURACION</h6>
                                                    <ul class="bill-address">
                                                        <li>
                                                            <span>Direccion:</span>
                                                            28 Green Tower, Street Name, New York City, USA
                                                        </li>
                                                        <li>
                                                            <span>Email:</span>
                                                            info@companyname.com
                                                        </li>
                                                        <li>
                                                            <span>Telefono : </span>
                                                            (+880) 19453 821758
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- order-complete end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->             

        </div>
        <!-- End page content -->

        <!-- START FOOTER AREA -->
        {% include "shop/footer.html" %}  
    </div>
    <!-- Body main wrapper end -->


    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="{% static 'shop/js/vendor/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'shop/js/autocomplete.js' %}"></script>
    <!-- jquery.nivo.slider js -->
    <script src="{% static 'shop/lib/js/jquery.nivo.slider.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'shop/js/plugins.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'shop/js/main.js' %}"></script>

    <script src="{% static 'shop/js/propio.js' %}"></script>

    <script type="text/javascript">
        
        activarAutocomplete();
        
        function validarNumeroSocio(){
            if ($("#numeroSocio").val() != ""){
                $.ajax({
                    type: "POST",
                    url: "/shop/validarNumeroSocio/",
                    data: $("#formPasoDos").serialize(),
                    success: function(data) {
                        if (data.error == ""){
                            $("#contacto").val(data.contacto)
                            $("#mail").val(data.mail)
                            $("#telefono").val(data.telefono)
                            $("#domicilio").val(data.direccion)
                        }else{
                            alert(data.error)
                            $("#numeroSocio").val("");
                            $("#contacto").val("");
                            $("#mail").val("");
                            $("#telefono").val("");
                            $("#domicilio").val("");
                        }
                    }
                });
            }
        }

        function crearVenta(){

            if ($("#contacto").val() == ""){
                alert("El NOMBRE y APELLIDO es obligatorio.")
                return false;
            }
            if ($("#mail").val() == ""){
                alert("El MAIL es obligatorio.")
                return false;
            }
            if (!caracteresCorreoValido($("#mail").val())){
                alert("El MAIL tiene un formato incorrecto.")
                return false;
            }
            if ($("#telefono").val() == ""){
                alert("El TELEFONO es obligatorio.")
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/shop/crearVenta/",
                data: $("#formPasoDos").serialize(),
                success: function(data) {
                    $("#li-checkout").show();
                    $("#tab-checkout").addClass( "active" );
                    $("#tab-checkout").tab('show');
                    window.scrollTo(0,0);
                }
            });

        }

        function pagoFinalizado (json) {
            if (json.collection_status=='approved'){
                alert ('Pago acreditado');
            } else if(json.collection_status=='pending'){
                alert ('El usuario no completó el pago');
            } else if(json.collection_status=='in_process'){    
                alert ('El pago está siendo revisado');    
            } else if(json.collection_status=='rejected'){
                alert ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
            } else if(json.collection_status==null){
                alert ('El usuario no completó el proceso de pago, no se ha generado ningún pago');
            }
        }

        function caracteresCorreoValido(email){
            var caract = new RegExp(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/);
            if (caract.test(email) == false){
                return false;
            }else{
                return true;
            }
        }

        function carretillaLessProductCart(id){
            lessProductCart(id);
            window.location.href = '/shop/carretilla/';
        }

        
    </script>

</body>

</html>