{% load static %}
<footer id="footer" class="footer-area">
<div class="footer-top">
    <div class="container-fluid">
        <div class="plr-185">
            <div class="footer-top-inner gray-bg">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single-footer footer-about">
                            <div class="footer-logo">
                                <img class="img-responsive center-block" style="margin-left: initial;" width="200" src="{% static 'shop/img/imgAlan/full-logo-header.png' %}" alt="">
                            </div>
                            <div class="footer-brief" style="font-family:'Crimson';">
                                <p>Av. Triunvirato 4135, Local 5 y 7, CABA<br>
                                (+54 9) 11 4521-4080 <br>
                                contacto@imperioverdegrowshop.com<br>
                                </p>
                            </div>
                            <ul class="footer-social">
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/ImperioVerdeGrowshop/" target="_blank" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="pinterest" href="https://www.instagram.com/imperioverdegrowshop/" target="_blank" title="Instagram"><i class="zmdi zmdi-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single-footer">
                            <h4 class="footer-title border-left linkMenu">Accesos rapidos</h4>
                            <ul class="footer-menu">
                                <li>
                                    <a href="/shop"><i class="zmdi zmdi-circle"></i><span style="font-family:'Crimson';font-size:20px;">HOME</span></a>
                                </li>
                                <li>
                                    <a class="linkMenu" href="/shop/shop"><i class="zmdi zmdi-circle"></i><span style="font-family:'Crimson';font-size:20px;" >PRODUCTOS</span></a>
                                </li>
                                <li>
                                    <a class="linkMenu" href="/shop#contactate"><i class="zmdi zmdi-circle"></i><span style="font-family:'Crimson';font-size:20px;">NOSOTROS</span></a>
                                </li>
                                <li>
                                    <a class="linkMenu" href="/shop#contactate"><i class="zmdi zmdi-circle"></i><span style="font-family:'Crimson';font-size:20px;">CONTACTO</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single-footer">
                            <h4 class="footer-title border-left linkMenu">Instagram</h4>
                            <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4d1885b29d665f81ac8ce4aeb0e22fbd.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 80%; border: 0; overflow: hidden;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer> 