<!-- header-top-bar -->
<div class="header-top-bar plr-185" style="background: #331049 none repeat scroll 0 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 hidden-xs" style="margin-top: 2px;">
                <div class="top-link clearfix">
                    <ul class="link f-left">
                        <li style="color: #FFFFFF;">
                            <i class="zmdi zmdi-pin"><div class="letraHeader">&nbsp;Av. Triunvirato 4135, Local 5 y 7, CABA &nbsp;&nbsp;</div></i>
                        </li>
                        <li style="color: #FFFFFF;">
                            <i class="zmdi zmdi-phone"><div class="letraHeader">&nbsp;(+54 9) 11 4521-4080&nbsp;&nbsp;&nbsp;</div></i>
                        </li>
                        <li style="color: #FFFFFF;">
                            <i class="zmdi zmdi-email"><div class="letraHeader">&nbsp;contacto@imperioverdegrowshop.com</div></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5 col-xs-12" style="margin-top: 2px;">
                <div class="top-link clearfix">
                    <ul class="link f-right">
                        <li onclick="window.location='https://www.facebook.com/ImperioVerdeGrowshop/'" style="color: #FFFFFF;">
                            <i class="zmdi zmdi-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li onclick="window.location='https://www.instagram.com/imperioverdegrowshop/'" style="color: #FFFFFF;">
                            <i class="zmdi zmdi-instagram"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>